*, div {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Gloria Hallelujah', cursive;
}
.centre {
    text-align: center;
}
#banner {
    width: 100%;
    text-align: center;
}
h1 {
    color: #f2a0d8;
    font-size: 50pt;
    text-align: center;
}
h1 span.bump {
    color: #590160;
}
h2 {
    font-size: 2.5em;
}
.section {
    width: 50%;
    margin: auto;
    font-size: 18pt;
    text-align: left;
    z-index: 2;
}
table {
    font-size: 16pt;
    border-collapse: collapse;
    margin-bottom: 10px;
}
table td {
    padding: 4px;
}
table .inner {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
thead {
    font-size: 18pt;
    font-weight: bold;
    border-bottom: 2px solid black;
}
div.author {
    margin-left: 20px;
}
div.quote {
    text-align: center;
    font-style: italic;
}
#nav a {
    display: inline-block;
    width: 200px;
    padding: 15px 0 15px 0;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 26pt;
    border: 3px solid black;
    border-bottom: none;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-radius:20px 20px 0px 0px;
    border-radius:20px 20px 0px 0px;
}
#nav_home, #nav_wash {
    background-color: #fa530a;
}
#nav_about, #nav_comments {
    background-color: #f2a0d8;
}
ul li {
    list-style: none;
}
#wrap {
    min-height: 100%;
    text-align: center;
}

#main {
    overflow:auto;
	padding-bottom: 102px;
}

#footer {
    position: relative;
	margin-top: -102px; /* negative value of footer height */
	margin-left: auto;
	margin-right: auto;
	height: 102px;
	clear:both;
	width: 100%;
    text-align: center;
}